body {
  --avatar-content: $TRANSPARENT_IMAGE;
}

/* Hide every profile picture */
img.avatar:not([alt='']),
.avatar > img:not([alt='']) {
  /* Set it to transparent first to avoid flash of see-no-evil image */
  content: var(--avatar-content);
}

/* Don't hide avatars in checks part of the PR (mostly bots here) */
[data-updatable-content-scroll-position-id='merge-status-list']
  img.avatar:not([alt='']) {
  content: none;
}

/* Hide participant avatars */
#partial-users-participants .participation-avatars {
  display: none !important;
}

/* issues/PRs page avatar stacks */
.AvatarStack .tooltipped:before,
.AvatarStack .tooltipped:after {
  content: none;
}
