html .toggle-unbiased-github-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

html .toggle-unbiased-github-checkbox:not(:last-child) {
  margin-right: 8px;
}

html .gh-header-actions > *:first-child {
  margin: 0 !important;
}
html .gh-header-actions > *:not(:first-child) {
  margin-left: 8px !important;
}

html .toggle-unbiased-github-checkbox input {
  visibility: hidden;
  position: absolute;
}

html .toggle-unbiased-github-checkbox input + img {
  content: $MONKEY_FACE_IMAGE;
  height: 20px;
  width: 20px;
}

html .toggle-unbiased-github-checkbox input:checked + img {
  content: $SEE_NO_EVIL_IMAGE;
}
