:root {
  --unbiased-color: transparent;
}

*[data-biased-user-name] {
  /* Invalidate the variable */
  --unbiased-color: ...;
}

@keyframes user-name {
}
@keyframes bot-label {
}

/* Hide user names */
a.author,
a.author:hover,
/* Mentions */
.user-mention,
/* Assignees */
.assignee,
.assignee.link-gray-dark,
/* Edit history */
.js-comment-edit-history-menu .v-align-middle.text-bold,
/* Head ref branch */
.commit-ref.head-ref span:first-child:not(:last-child),
/* Inside hovercard */
.hovercard-icon + div > span.text-bold,
/* Head ref branch inside hovercard */
.commit-ref:not(.base-ref) > .user,
/* issues/PRs page author names */
a[data-hovercard-type="user"] {
  color: var(--unbiased-color) !important;
  animation: user-name 1ms;
}

a.author + .Label--outline {
  animation: bot-label 1ms;
}

/* Hide every profile picture */
img.avatar:not([alt='']),
.avatar > img:not([alt='']) {
  content: url(https://github.githubassets.com/images/icons/emoji/unicode/1f648.png);
  pointer-events: none;
}
/* Except for yourselves in the top right corner */
.Header-link > img.avatar:not([alt='']) {
  content: none;
  pointer-events: auto;
}
/* Or in checks part of the PR (mostly bots here) */
[data-updatable-content-scroll-position-id='merge-status-list']
  img.avatar:not([alt='']) {
  content: none;
  pointer-events: auto;
}

/* Hide all user profile pictures and names in reaction button (injected by refined-github) */
button.reaction-summary-item > a {
  display: none;
}

/* Hide comment labels except for "Author" and "Member" */
.timeline-comment-label:not([aria-label*='the author of']):not([aria-label*='a member of the']) {
  display: none;
}

/* Hide participant avatars */
#partial-users-participants .participation-avatars {
  display: none !important;
}

/* issues/PRs page avatar stacks */
.AvatarStack .tooltipped:before,
.AvatarStack .tooltipped:after {
  content: none;
}
