:root {
  --unbiased-color: transparent;
}

*[data-biased-user-name] {
  /* Invalidate the variable */
  --unbiased-color: ...;
}

/* This is injected by postcss plugin during build time */
$USER_NAME_SELECTOR {
  color: var(--unbiased-color) !important;
}

/* Hide every profile picture */
img.avatar:not([alt='']),
.avatar > img:not([alt='']) {
  content: url(https://github.githubassets.com/images/icons/emoji/unicode/1f648.png);
  pointer-events: none;
}
/* Except for yourselves in the top right corner */
.Header-link > img.avatar:not([alt='']) {
  content: none;
  pointer-events: auto;
}
/* Or in checks part of the PR (mostly bots here) */
[data-updatable-content-scroll-position-id='merge-status-list']
  img.avatar:not([alt='']) {
  content: none;
  pointer-events: auto;
}

/* Hide all user profile pictures and names in reaction button (injected by refined-github) */
button.reaction-summary-item > a {
  display: none;
}

/* Hide comment labels except for "Author" and "Member" */
.timeline-comment-label:not([aria-label*='the author of']):not([aria-label*='a member of the']) {
  display: none;
}

/* Hide participant avatars */
#partial-users-participants .participation-avatars {
  display: none !important;
}

/* issues/PRs page avatar stacks */
.AvatarStack .tooltipped:before,
.AvatarStack .tooltipped:after {
  content: none;
}
